* {
    border: none;
    border-radius: 0px;
    font-weight: bold;
    font-size: 10px;
    min-height: 10px;
}

window#waybar {
    background: rgba(0,0,0,0);
}

tooltip {
    background: #11111b;
    color: #cdd6f4;
    border-radius: 7px;
    border-width: 0px;
}

#workspaces button {
    box-shadow: none;
    background: #536d64;
	text-shadow: none;
    padding: 0px;
    border-radius: 9px;
    margin-top: 3px;
    margin-bottom: 3px;
    margin-right: 1px;
    margin-left: 1px;
    padding-right: 4px;
    padding-left: 4px;
    color: #cddceb;
    border: 1px solid #cddceb;
}

#workspaces button.active {
    background: #bb7b3c;
    color: #2d333c;
    margin-right: 3px;
    margin-left: 3px;
    padding-right: 12px;
    padding-left: 12px;
}

#workspaces button:hover {
    background: #ac90f3;
    color: #313244;
}

#taskbar button {
    box-shadow: none;
    background: #536d64;
	text-shadow: none;
    padding: 0px;
    border-radius: 9px;
    margin-top: 3px;
    margin-bottom: 3px;
    margin-right: 1px;
    margin-left: 1px;
    padding-right: 4px;
    padding-left: 4px;
    color: #cddceb;
    border: 1px solid #cddceb;
}

#taskbar button.active {
    background: #bb7b3c;
    color: #2d333c;
    margin-right: 3px;
    margin-left: 3px;
    padding-right: 12px;
    padding-left: 12px;
}

#taskbar button:hover {
    background: #ac90f3;
    color: #2d333c;
}

#clock {
    box-shadow: none;
    background: #a32f18;
	text-shadow: none;
    padding: 0px;
    border-radius: 9px;
    margin-top: 3px;
    margin-bottom: 3px;
    margin-right: 0px;
    margin-left: 0px;
    padding-right: 3px;
    padding-left: 3px;
    color: #cddceb;
    border: 1px solid #cddceb;
}
#cpu {
    box-shadow: none;
    background: #4224a4;
	text-shadow: none;
    padding: 0px;
    border-radius: 9px;
    margin-top: 3px;
    margin-bottom: 3px;
    margin-right: 1px;
    margin-left: 1px;
    padding-right: 4px;
    padding-left: 4px;
    color: #cddceb;
    border: 1px solid #cddceb;
}
#network {
    box-shadow: none;
    background: #259cae;
	text-shadow: none;
    padding: 0px;
    border-radius: 9px;
    margin-top: 3px;
    margin-bottom: 3px;
    margin-right: 1px;
    margin-left: 1px;
    padding-right: 4px;
    padding-left: 4px;
    color: #cddceb;
    border: 1px solid #cddceb;
}

#taskbar {
    padding: 0px;
}

#custom-appmenu {
    box-shadow: none;
    background: #4126a2;
	text-shadow: none;
    padding: 0px;
    border-radius: 9px;
    margin-top: 3px;
    margin-bottom: 3px;
    margin-right: 1px;
    margin-left: 1px;
    padding-right: 4px;
    padding-left: 4px;
    color: #cddceb;
    border: 1px solid #cddceb;
}
